In [1]:
import pandas as pd
import numpy as np

In [35]:
tickers = pd.read_csv('tickers/s&p.csv')

In [36]:
tickers

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [2]:
data_path = 'data/5m/'

In [3]:
df = pd.read_parquet(data_path + 'data.parquet')
df

                                  A                                      \
                          Adj Close       Close        High         Low
2021-11-09 09:30:00-05:00       NaN         NaN         NaN         NaN
2021-11-10 09:30:00-05:00       NaN         NaN         NaN         NaN
2021-11-10 09:30:00-05:00       NaN  159.554993  159.740005  159.130005
2021-11-10 09:35:00-05:00       NaN  159.440002  159.839996  159.440002
2021-11-10 09:40:00-05:00       NaN  159.089996  159.679993  159.089996
...                             ...         ...         ...         ...
2022-01-07 15:35:00-05:00       NaN  145.839996  145.869995  145.630005
2022-01-07 15:40:00-05:00       NaN  145.710007  145.869995  145.710007
2022-01-07 15:45:00-05:00       NaN  145.899994  145.929993  145.690002
2022-01-07 15:50:00-05:00       NaN  145.410004  145.919998  145.389999
2022-01-07 15:55:00-05:00       NaN  145.141998  145.389999  145.089996

                                                      AAL             \
                                 Open    Volume Adj Close      Close
2021-11-09 09:30:00-05:00         NaN       NaN       NaN        NaN
2021-11-10 09:30:00-05:00         NaN       NaN       NaN        NaN
2021-11-10 09:30:00-05:00  159.210007   25423.0       NaN  21.988001
2021-11-10 09:35:00-05:00  159.839996    3367.0       NaN  21.900000
2021-11-10 09:40:00-05:00  159.440002    5423.0       NaN  21.870001
...                               ...       ...       ...        ...
2022-01-07 15:35:00-05:00  145.675003   33814.0       NaN  19.325001
2022-01-07 15:40:00-05:00  145.839996   28877.0       NaN  19.299900
2022-01-07 15:45:00-05:00  145.710007   37144.0       NaN  19.250000
2022-01-07 15:50:00-05:00  145.919998   57784.0       NaN  19.294001
2022-01-07 15:55:00-05:00  145.389999  189386.0       NaN  19.280001

                                                 ...       ZION             \
                                High        Low  ...       High        Low
2021-11-09 09:30:00-05:00        NaN        NaN  ...        NaN        NaN
2021-11-10 09:30:00-05:00        NaN        NaN  ...        NaN        NaN
2021-11-10 09:30:00-05:00  22.010599  21.700001  ...  65.500000  64.915001
2021-11-10 09:35:00-05:00  22.030001  21.900000  ...  65.500000  65.139999
2021-11-10 09:40:00-05:00  21.940001  21.861799  ...  65.459999  65.400002
...                              ...        ...  ...        ...        ...
2022-01-07 15:35:00-05:00  19.370001  19.315001  ...  69.930000  69.830002
2022-01-07 15:40:00-05:00  19.350000  19.290001  ...  70.059998  69.879997
2022-01-07 15:45:00-05:00  19.309999  19.245001  ...  70.019997  69.879997
2022-01-07 15:50:00-05:00  19.320000  19.241400  ...  70.139999  69.900002
2022-01-07 15:55:00-05:00  19.299999  19.280001  ...  70.160004  70.040001

                                                    ZTS              \
                                Open   Volume Adj Close       Close
2021-11-09 09:30:00-05:00        NaN      NaN       NaN         NaN
2021-11-10 09:30:00-05:00        NaN      NaN       NaN         NaN
2021-11-10 09:30:00-05:00  65.180000  25397.0       NaN  219.899994
2021-11-10 09:35:00-05:00  65.500000  12442.0       NaN  219.649994
2021-11-10 09:40:00-05:00  65.400002   6938.0       NaN  219.149994
...                              ...      ...       ...         ...
2022-01-07 15:35:00-05:00  69.910004  30238.0       NaN  211.699997
2022-01-07 15:40:00-05:00  69.910004  28337.0       NaN  211.570007
2022-01-07 15:45:00-05:00  69.900002  53958.0       NaN  211.559998
2022-01-07 15:50:00-05:00  69.910004  69463.0       NaN  211.289993
2022-01-07 15:55:00-05:00  70.040001  79872.0       NaN  211.089996


                                 High         Low        Open    Volume
2021-11-09 09:30:00-05:00         NaN         NaN         NaN       NaN
2021-11-10 09:30:00-05:00         NaN         NaN         NaN       NaN
2021-11-10 09:30:00-05:00  220.160004  219.039993  219.460007   99380.0
2021-11-10 09:35:00-05:00  220.809998  219.500000  220.009995   36712.0
2021-11-10 09:40:00-05:00  219.779999  219.149994  219.729996   53506.0
...                               ...         ...         ...       ...
2022-01-07 15:35:00-05:00  211.850006  211.615005  211.669998   30692.0
2022-01-07 15:40:00-05:00  211.774994  211.490005  211.710007   19996.0
2022-01-07 15:45:00-05:00  211.850006  211.535294  211.554993   42096.0
2022-01-07 15:50:00-05:00  211.794998  211.240005  211.589996   63209.0
2022-01-07 15:55:00-05:00  211.350006  210.779999  211.339996  210417.0

[3165 rows x 3030 columns]

In [4]:
df.columns = df.columns.swaplevel()

In [5]:
df

,Adj Close,Close,High,Low,Open,Volume,Adj Close,Close,High,Low,...,High,Low,Open,Volume,Adj Close,Close,High,Low,Open,Volume
,A,A,A,A,A,A,AAL,AAL,AAL,AAL,...,ZION,ZION,ZION,ZION,ZTS,ZTS,ZTS,ZTS,ZTS,ZTS
2021-11-09 09:30:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-10 09:30:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-10 09:30:00-05:00,NaN,159.554993,159.740005,159.130005,159.210007,25423.0,NaN,21.988001,22.010599,21.700001,...,65.500000,64.915001,65.180000,25397.0,NaN,219.899994,220.160004,219.039993,219.460007,99380.0
2021-11-10 09:35:00-05:00,NaN,159.440002,159.839996,159.440002,159.839996,3367.0,NaN,21.900000,22.030001,21.900000,...,65.500000,65.139999,65.500000,12442.0,NaN,219.649994,220.809998,219.500000,220.009995,36712.0
2021-11-10 09:40:00-05:00,NaN,159.089996,159.679993,159.089996,159.440002,5423.0,NaN,21.870001,21.940001,21.861799,...,65.459999,65.400002,65.400002,6938.0,NaN,219.149994,219.779999,219.149994,219.729996,53506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:35:00-05:00,NaN,145.839996,145.869995,145.630005,145.675003,33814.0,NaN,19.325001,19.370001,19.315001,...,69.930000,69.830002,69.910004,30238.0,NaN,211.699997,211.850006,211.615005,211.669998,30692.0
2022-01-07 15:40:00-05:00,NaN,145.710007,145.869995,145.710007,145.839996,28877.0,NaN,19.299900,19.350000,19.290001,...,70.059998,69.879997,69.910004,28337.0,NaN,211.570007,211.774994,211.490005,211.710007,19996.0
2022-01-07 15:45:00-05:00,NaN,145.899994,145.929993,145.690002,145.710007,37144.0,NaN,19.250000,19.309999,19.245001,...,70.019997,69.879997,69.900002,53958.0,NaN,211.559998,211.850006,211.535294,211.554993,42096.0
2022-01-07 15:50:00-05:00,NaN,145.410004,145.919998,145.389999,145.919998,57784.0,NaN,19.294001,19.320000,19.241400,...,70.139999,69.900002,69.910004,69463.0,NaN,211.289993,211.794998,211.240005,211.589996,63209.0
2022-01-07 15:55:00-05:00,NaN,145.141998,145.389999,145.089996,145.389999,189386.0,NaN,19.280001,19.299999,19.280001,...,70.160004,70.040001,70.040001,79872.0,NaN,211.089996,211.350006,210.779999,211.339996,210417.0

In [6]:
df = df['Close'].copy()
df.ffill(inplace=True)

In [7]:
df.dropna(how='all', inplace=True)
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2021-11-10 09:30:00-05:00,159.554993,21.988001,233.880005,148.320007,116.610001,125.820000,371.989990,126.805000,365.154999,661.641907,...,64.180000,201.285004,65.349197,56.299999,132.779999,125.980003,134.865005,592.000000,65.489998,219.899994
2021-11-10 09:35:00-05:00,159.440002,21.900000,234.649994,148.050003,116.180000,125.419998,369.809998,126.930000,365.380005,660.929993,...,63.980000,201.125000,65.029999,55.970001,133.220001,125.879997,134.509995,591.450012,65.209999,219.649994
2021-11-10 09:40:00-05:00,159.089996,21.870001,234.080002,148.770004,116.264999,125.449997,369.649994,126.760002,365.619995,657.729980,...,64.110001,200.005005,64.959999,55.820000,133.149994,125.440002,134.164993,592.550598,65.459999,219.149994
2021-11-10 09:45:00-05:00,159.089996,21.930000,234.100006,148.479996,116.510002,125.589996,369.709991,127.080002,365.890015,658.059998,...,64.004997,201.910004,64.922997,55.903999,132.960007,125.519997,134.130005,592.000000,65.269997,218.740005
2021-11-10 09:50:00-05:00,158.759995,21.930000,234.619995,149.199997,116.629997,125.250000,369.709991,127.139999,366.190002,658.400024,...,63.939999,202.240005,65.139999,56.014999,133.014999,125.510002,133.880005,592.000000,65.290001,218.729996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:35:00-05:00,145.839996,19.325001,238.250000,173.074997,135.214996,133.289993,320.829987,136.020004,371.470001,512.558716,...,69.389999,192.610001,68.919998,56.435001,115.745003,135.710007,128.509995,533.479980,69.879997,211.699997
2022-01-07 15:40:00-05:00,145.710007,19.299900,238.029999,172.779999,135.070007,133.104996,320.790009,135.789993,370.730011,512.000000,...,69.364998,192.619995,68.900002,56.430000,115.680000,135.600006,128.369995,531.585022,69.889999,211.570007
2022-01-07 15:45:00-05:00,145.899994,19.250000,238.214996,173.100006,134.970001,133.002899,320.825012,135.824997,371.059998,512.780029,...,69.279999,192.910599,68.815002,56.380001,115.629997,135.600006,128.229996,532.520020,69.889999,211.559998
2022-01-07 15:50:00-05:00,145.410004,19.294001,237.830002,172.259995,134.990005,133.005005,319.649994,135.710007,370.853912,511.010010,...,69.154999,192.729996,68.854103,56.310001,115.430000,135.500000,128.014999,531.909973,70.070000,211.289993
2022-01-07 15:55:00-05:00,145.141998,19.280001,238.089996,172.250000,134.889999,133.119995,319.149994,135.539993,370.750000,510.690002,...,69.099998,193.059998,68.879997,56.410000,115.389999,135.369995,128.139999,530.570007,70.080002,211.089996

In [8]:
df.bfill(inplace=True)
df.dropna(axis=1, inplace=True)
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2021-11-10 09:30:00-05:00,159.554993,21.988001,233.880005,148.320007,116.610001,125.820000,371.989990,126.805000,365.154999,661.641907,...,64.180000,201.285004,65.349197,56.299999,132.779999,125.980003,134.865005,592.000000,65.489998,219.899994
2021-11-10 09:35:00-05:00,159.440002,21.900000,234.649994,148.050003,116.180000,125.419998,369.809998,126.930000,365.380005,660.929993,...,63.980000,201.125000,65.029999,55.970001,133.220001,125.879997,134.509995,591.450012,65.209999,219.649994
2021-11-10 09:40:00-05:00,159.089996,21.870001,234.080002,148.770004,116.264999,125.449997,369.649994,126.760002,365.619995,657.729980,...,64.110001,200.005005,64.959999,55.820000,133.149994,125.440002,134.164993,592.550598,65.459999,219.149994
2021-11-10 09:45:00-05:00,159.089996,21.930000,234.100006,148.479996,116.510002,125.589996,369.709991,127.080002,365.890015,658.059998,...,64.004997,201.910004,64.922997,55.903999,132.960007,125.519997,134.130005,592.000000,65.269997,218.740005
2021-11-10 09:50:00-05:00,158.759995,21.930000,234.619995,149.199997,116.629997,125.250000,369.709991,127.139999,366.190002,658.400024,...,63.939999,202.240005,65.139999,56.014999,133.014999,125.510002,133.880005,592.000000,65.290001,218.729996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:35:00-05:00,145.839996,19.325001,238.250000,173.074997,135.214996,133.289993,320.829987,136.020004,371.470001,512.558716,...,69.389999,192.610001,68.919998,56.435001,115.745003,135.710007,128.509995,533.479980,69.879997,211.699997
2022-01-07 15:40:00-05:00,145.710007,19.299900,238.029999,172.779999,135.070007,133.104996,320.790009,135.789993,370.730011,512.000000,...,69.364998,192.619995,68.900002,56.430000,115.680000,135.600006,128.369995,531.585022,69.889999,211.570007
2022-01-07 15:45:00-05:00,145.899994,19.250000,238.214996,173.100006,134.970001,133.002899,320.825012,135.824997,371.059998,512.780029,...,69.279999,192.910599,68.815002,56.380001,115.629997,135.600006,128.229996,532.520020,69.889999,211.559998
2022-01-07 15:50:00-05:00,145.410004,19.294001,237.830002,172.259995,134.990005,133.005005,319.649994,135.710007,370.853912,511.010010,...,69.154999,192.729996,68.854103,56.310001,115.430000,135.500000,128.014999,531.909973,70.070000,211.289993
2022-01-07 15:55:00-05:00,145.141998,19.280001,238.089996,172.250000,134.889999,133.119995,319.149994,135.539993,370.750000,510.690002,...,69.099998,193.059998,68.879997,56.410000,115.389999,135.369995,128.139999,530.570007,70.080002,211.089996

In [56]:
#Export df with close price for introduction

from os.path import exists
import os
from fastparquet import write, ParquetFile

df.to_parquet("data/clean/1m/data_clean_1m_close.parquet")

In [9]:
df = np.log(df).diff().dropna(how='all')
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2021-11-10 09:35:00-05:00,-0.000721,-0.004010,0.003287,-0.001822,-0.003694,-0.003184,-0.005878,0.000985,0.000616,-0.001077,...,-0.003121,-0.000795,-0.004896,-0.005879,0.003308,-0.000794,-0.002636,-0.000929,-0.004285,-0.001138
2021-11-10 09:40:00-05:00,-0.002198,-0.001371,-0.002432,0.004851,0.000731,0.000239,-0.000433,-0.001340,0.000657,-0.004853,...,0.002030,-0.005584,-0.001077,-0.002684,-0.000526,-0.003501,-0.002568,0.001859,0.003826,-0.002279
2021-11-10 09:45:00-05:00,0.000000,0.002740,0.000085,-0.001951,0.002105,0.001115,0.000162,0.002521,0.000738,0.000502,...,-0.001639,0.009480,-0.000570,0.001504,-0.001428,0.000638,-0.000261,-0.000930,-0.002907,-0.001873
2021-11-10 09:50:00-05:00,-0.002076,0.000000,0.002219,0.004837,0.001029,-0.002711,0.000000,0.000472,0.000820,0.000517,...,-0.001016,0.001633,0.003337,0.001984,0.000414,-0.000080,-0.001866,0.000000,0.000306,-0.000046
2021-11-10 09:55:00-05:00,-0.000220,0.001822,-0.000213,-0.001207,-0.000772,-0.001598,-0.000541,0.001258,-0.000123,0.001503,...,-0.002662,0.000791,0.000921,-0.000268,0.000338,0.002308,0.001679,0.000152,0.002405,-0.001006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:35:00-05:00,0.001304,-0.002068,0.000441,0.000434,0.000629,0.000713,-0.000452,0.001177,0.001568,0.001618,...,0.001154,-0.000934,0.000145,0.000257,0.001513,0.000737,0.000140,0.002120,-0.000680,-0.000094
2022-01-07 15:40:00-05:00,-0.000892,-0.001300,-0.000924,-0.001706,-0.001073,-0.001389,-0.000125,-0.001692,-0.001994,-0.001091,...,-0.000360,0.000052,-0.000290,-0.000089,-0.000562,-0.000811,-0.001090,-0.003558,0.000143,-0.000614
2022-01-07 15:45:00-05:00,0.001303,-0.002589,0.000777,0.001850,-0.000741,-0.000767,0.000109,0.000258,0.000890,0.001522,...,-0.001226,0.001508,-0.001234,-0.000886,-0.000432,0.000000,-0.001091,0.001757,0.000000,-0.000047
2022-01-07 15:50:00-05:00,-0.003364,0.002283,-0.001617,-0.004865,0.000148,0.000016,-0.003669,-0.000847,-0.000556,-0.003458,...,-0.001806,-0.000937,0.000568,-0.001242,-0.001731,-0.000738,-0.001678,-0.001146,0.002572,-0.001277
2022-01-07 15:55:00-05:00,-0.001845,-0.000726,0.001093,-0.000058,-0.000741,0.000864,-0.001565,-0.001254,-0.000280,-0.000626,...,-0.000796,0.001711,0.000376,0.001774,-0.000347,-0.000960,0.000976,-0.002522,0.000143,-0.000947

In [10]:
#Export cleaned dataframe

from os.path import exists
import os
from fastparquet import write, ParquetFile

df.to_parquet("data/clean/5m/data_clean_5m.parquet")