In [1]:
import pandas as pd
import numpy as np

In [2]:
tickers = pd.read_csv('tickers/s&p.csv')

In [3]:
tickers

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [4]:
data_path = 'data/1m/'

In [5]:
df = pd.read_parquet(data_path + 'data.parquet')
df

                                  A                                      \
                          Adj Close       Close        High         Low
2021-12-09 09:30:00-05:00       NaN         NaN         NaN         NaN
2021-12-10 09:30:00-05:00       NaN  154.179993  154.660004  154.080002
2021-12-10 09:31:00-05:00       NaN  154.550003  154.550003  154.169998
2021-12-10 09:32:00-05:00       NaN  154.770004  154.770004  154.529999
2021-12-10 09:33:00-05:00       NaN  155.259995  155.259995  154.889999
...                             ...         ...         ...         ...
2022-01-07 15:55:00-05:00       NaN  145.259995  145.389999  145.229996
2022-01-07 15:56:00-05:00       NaN  145.350006  145.380005  145.240005
2022-01-07 15:57:00-05:00       NaN  145.190002  145.380005  145.190002
2022-01-07 15:58:00-05:00       NaN  145.250000  145.389999  145.190002
2022-01-07 15:59:00-05:00       NaN  145.141998  145.259995  145.089996

                                                     AAL             \
                                 Open   Volume Adj Close      Close
2021-12-09 09:30:00-05:00         NaN      NaN       NaN        NaN
2021-12-10 09:30:00-05:00  154.529999  15164.0       NaN  18.120701
2021-12-10 09:31:00-05:00  154.169998   3266.0       NaN  17.980000
2021-12-10 09:32:00-05:00  154.550003   2122.0       NaN  18.044300
2021-12-10 09:33:00-05:00  154.949997   2913.0       NaN  18.080000
...                               ...      ...       ...        ...
2022-01-07 15:55:00-05:00  145.389999  32239.0       NaN  19.299999
2022-01-07 15:56:00-05:00  145.250000  31182.0       NaN  19.295000
2022-01-07 15:57:00-05:00  145.350006  30255.0       NaN  19.290001
2022-01-07 15:58:00-05:00  145.190002  39810.0       NaN  19.295000
2022-01-07 15:59:00-05:00  145.259995  55900.0       NaN  19.280001

                                                 ...       ZION             \
                                High        Low  ...       High        Low
2021-12-09 09:30:00-05:00        NaN        NaN  ...        NaN        NaN
2021-12-10 09:30:00-05:00  18.129999  17.950001  ...  63.689999  63.270000
2021-12-10 09:31:00-05:00  18.122101  17.969999  ...  63.709999  63.560001
2021-12-10 09:32:00-05:00  18.049999  17.940001  ...  63.599998  63.490002
2021-12-10 09:33:00-05:00  18.129999  18.020000  ...  63.544998  63.450001
...                              ...        ...  ...        ...        ...
2022-01-07 15:55:00-05:00  19.299999  19.280001  ...  70.099998  70.040001
2022-01-07 15:56:00-05:00  19.299999  19.290001  ...  70.129997  70.070000
2022-01-07 15:57:00-05:00  19.299999  19.290001  ...  70.160004  70.105003
2022-01-07 15:58:00-05:00  19.299999  19.290001  ...  70.120003  70.080002
2022-01-07 15:59:00-05:00  19.299999  19.280001  ...  70.110001  70.070000

                                                    ZTS              \
                                Open   Volume Adj Close       Close
2021-12-09 09:30:00-05:00        NaN      NaN       NaN         NaN
2021-12-10 09:30:00-05:00  63.430000      0.0       NaN  230.154999
2021-12-10 09:31:00-05:00  63.709999   2438.0       NaN  229.464996
2021-12-10 09:32:00-05:00  63.599998   1174.0       NaN  229.679993
2021-12-10 09:33:00-05:00  63.544998    917.0       NaN  230.009995
...                              ...      ...       ...         ...
2022-01-07 15:55:00-05:00  70.040001  16405.0       NaN  211.029999
2022-01-07 15:56:00-05:00  70.099998  11013.0       NaN  210.979996
2022-01-07 15:57:00-05:00  70.110001  15118.0       NaN  211.175003
2022-01-07 15:58:00-05:00  70.120003  13513.0       NaN  210.960007
2022-01-07 15:59:00-05:00  70.089996  23823.0       NaN  211.089996


                                 High         Low        Open   Volume
2021-12-09 09:30:00-05:00         NaN         NaN         NaN      NaN
2021-12-10 09:30:00-05:00  230.154999  229.630005  229.899994  27411.0
2021-12-10 09:31:00-05:00  230.094894  229.279999  230.094894   3900.0
2021-12-10 09:32:00-05:00  229.679993  229.240005  229.464996   3067.0
2021-12-10 09:33:00-05:00  230.009995  230.009995  230.009995    290.0
...                               ...         ...         ...      ...
2022-01-07 15:55:00-05:00  211.350006  211.029999  211.339996  21478.0
2022-01-07 15:56:00-05:00  211.059998  210.919998  211.009995  40363.0
2022-01-07 15:57:00-05:00  211.210007  210.919998  210.979996  29169.0
2022-01-07 15:58:00-05:00  211.300003  210.960007  211.175003  38242.0
2022-01-07 15:59:00-05:00  211.240005  210.779999  210.990005  81165.0

[7786 rows x 3030 columns]

In [6]:
df.dropna(how='all', inplace=True)
df

                                  A                                      \
                          Adj Close       Close        High         Low
2021-12-10 09:30:00-05:00       NaN  154.179993  154.660004  154.080002
2021-12-10 09:31:00-05:00       NaN  154.550003  154.550003  154.169998
2021-12-10 09:32:00-05:00       NaN  154.770004  154.770004  154.529999
2021-12-10 09:33:00-05:00       NaN  155.259995  155.259995  154.889999
2021-12-10 09:34:00-05:00       NaN  155.054993  155.154999  154.809998
...                             ...         ...         ...         ...
2022-01-07 15:55:00-05:00       NaN  145.259995  145.389999  145.229996
2022-01-07 15:56:00-05:00       NaN  145.350006  145.380005  145.240005
2022-01-07 15:57:00-05:00       NaN  145.190002  145.380005  145.190002
2022-01-07 15:58:00-05:00       NaN  145.250000  145.389999  145.190002
2022-01-07 15:59:00-05:00       NaN  145.141998  145.259995  145.089996

                                                     AAL             \
                                 Open   Volume Adj Close      Close
2021-12-10 09:30:00-05:00  154.529999  15164.0       NaN  18.120701
2021-12-10 09:31:00-05:00  154.169998   3266.0       NaN  17.980000
2021-12-10 09:32:00-05:00  154.550003   2122.0       NaN  18.044300
2021-12-10 09:33:00-05:00  154.949997   2913.0       NaN  18.080000
2021-12-10 09:34:00-05:00  155.029999   9802.0       NaN  18.006500
...                               ...      ...       ...        ...
2022-01-07 15:55:00-05:00  145.389999  32239.0       NaN  19.299999
2022-01-07 15:56:00-05:00  145.250000  31182.0       NaN  19.295000
2022-01-07 15:57:00-05:00  145.350006  30255.0       NaN  19.290001
2022-01-07 15:58:00-05:00  145.190002  39810.0       NaN  19.295000
2022-01-07 15:59:00-05:00  145.259995  55900.0       NaN  19.280001

                                                 ...       ZION             \
                                High        Low  ...       High        Low
2021-12-10 09:30:00-05:00  18.129999  17.950001  ...  63.689999  63.270000
2021-12-10 09:31:00-05:00  18.122101  17.969999  ...  63.709999  63.560001
2021-12-10 09:32:00-05:00  18.049999  17.940001  ...  63.599998  63.490002
2021-12-10 09:33:00-05:00  18.129999  18.020000  ...  63.544998  63.450001
2021-12-10 09:34:00-05:00  18.072001  18.000000  ...  63.389999  63.310001
...                              ...        ...  ...        ...        ...
2022-01-07 15:55:00-05:00  19.299999  19.280001  ...  70.099998  70.040001
2022-01-07 15:56:00-05:00  19.299999  19.290001  ...  70.129997  70.070000
2022-01-07 15:57:00-05:00  19.299999  19.290001  ...  70.160004  70.105003
2022-01-07 15:58:00-05:00  19.299999  19.290001  ...  70.120003  70.080002
2022-01-07 15:59:00-05:00  19.299999  19.280001  ...  70.110001  70.070000

                                                    ZTS              \
                                Open   Volume Adj Close       Close
2021-12-10 09:30:00-05:00  63.430000      0.0       NaN  230.154999
2021-12-10 09:31:00-05:00  63.709999   2438.0       NaN  229.464996
2021-12-10 09:32:00-05:00  63.599998   1174.0       NaN  229.679993
2021-12-10 09:33:00-05:00  63.544998    917.0       NaN  230.009995
2021-12-10 09:34:00-05:00  63.369999   1267.0       NaN  230.467499
...                              ...      ...       ...         ...
2022-01-07 15:55:00-05:00  70.040001  16405.0       NaN  211.029999
2022-01-07 15:56:00-05:00  70.099998  11013.0       NaN  210.979996
2022-01-07 15:57:00-05:00  70.110001  15118.0       NaN  211.175003
2022-01-07 15:58:00-05:00  70.120003  13513.0       NaN  210.960007
2022-01-07 15:59:00-05:00  70.089996  23823.0       NaN  211.089996


                                 High         Low        Open   Volume
2021-12-10 09:30:00-05:00  230.154999  229.630005  229.899994  27411.0
2021-12-10 09:31:00-05:00  230.094894  229.279999  230.094894   3900.0
2021-12-10 09:32:00-05:00  229.679993  229.240005  229.464996   3067.0
2021-12-10 09:33:00-05:00  230.009995  230.009995  230.009995    290.0
2021-12-10 09:34:00-05:00  230.467499  230.100006  230.245102    941.0
...                               ...         ...         ...      ...
2022-01-07 15:55:00-05:00  211.350006  211.029999  211.339996  21478.0
2022-01-07 15:56:00-05:00  211.059998  210.919998  211.009995  40363.0
2022-01-07 15:57:00-05:00  211.210007  210.919998  210.979996  29169.0
2022-01-07 15:58:00-05:00  211.300003  210.960007  211.175003  38242.0
2022-01-07 15:59:00-05:00  211.240005  210.779999  210.990005  81165.0

[7785 rows x 3030 columns]

In [7]:
df.dropna(how='all', inplace=True, axis=1)
df

                                    A                                      \
                                Close        High         Low        Open
2021-12-10 09:30:00-05:00  154.179993  154.660004  154.080002  154.529999
2021-12-10 09:31:00-05:00  154.550003  154.550003  154.169998  154.169998
2021-12-10 09:32:00-05:00  154.770004  154.770004  154.529999  154.550003
2021-12-10 09:33:00-05:00  155.259995  155.259995  154.889999  154.949997
2021-12-10 09:34:00-05:00  155.054993  155.154999  154.809998  155.029999
...                               ...         ...         ...         ...
2022-01-07 15:55:00-05:00  145.259995  145.389999  145.229996  145.389999
2022-01-07 15:56:00-05:00  145.350006  145.380005  145.240005  145.250000
2022-01-07 15:57:00-05:00  145.190002  145.380005  145.190002  145.350006
2022-01-07 15:58:00-05:00  145.250000  145.389999  145.190002  145.190002
2022-01-07 15:59:00-05:00  145.141998  145.259995  145.089996  145.259995

                                          AAL                        \
                            Volume      Close       High        Low
2021-12-10 09:30:00-05:00  15164.0  18.120701  18.129999  17.950001
2021-12-10 09:31:00-05:00   3266.0  17.980000  18.122101  17.969999
2021-12-10 09:32:00-05:00   2122.0  18.044300  18.049999  17.940001
2021-12-10 09:33:00-05:00   2913.0  18.080000  18.129999  18.020000
2021-12-10 09:34:00-05:00   9802.0  18.006500  18.072001  18.000000
...                            ...        ...        ...        ...
2022-01-07 15:55:00-05:00  32239.0  19.299999  19.299999  19.280001
2022-01-07 15:56:00-05:00  31182.0  19.295000  19.299999  19.290001
2022-01-07 15:57:00-05:00  30255.0  19.290001  19.299999  19.290001
2022-01-07 15:58:00-05:00  39810.0  19.295000  19.299999  19.290001
2022-01-07 15:59:00-05:00  55900.0  19.280001  19.299999  19.280001

                                                 ...       ZION             \
                                Open     Volume  ...      Close       High
2021-12-10 09:30:00-05:00  18.070000  1211419.0  ...  63.619999  63.689999
2021-12-10 09:31:00-05:00  18.120001   174035.0  ...  63.570000  63.709999
2021-12-10 09:32:00-05:00  17.990000   157770.0  ...  63.580002  63.599998
2021-12-10 09:33:00-05:00  18.049999   355483.0  ...  63.450001  63.544998
2021-12-10 09:34:00-05:00  18.072001   158370.0  ...  63.389999  63.389999
...                              ...        ...  ...        ...        ...
2022-01-07 15:55:00-05:00  19.290001   126473.0  ...  70.099998  70.099998
2022-01-07 15:56:00-05:00  19.299999    65870.0  ...  70.120003  70.129997
2022-01-07 15:57:00-05:00  19.295000   160296.0  ...  70.120003  70.160004
2022-01-07 15:58:00-05:00  19.295000   142804.0  ...  70.089996  70.120003
2022-01-07 15:59:00-05:00  19.290001   282637.0  ...  70.080002  70.110001

                                                                 ZTS  \
                                 Low       Open   Volume       Close
2021-12-10 09:30:00-05:00  63.270000  63.430000      0.0  230.154999
2021-12-10 09:31:00-05:00  63.560001  63.709999   2438.0  229.464996
2021-12-10 09:32:00-05:00  63.490002  63.599998   1174.0  229.679993
2021-12-10 09:33:00-05:00  63.450001  63.544998    917.0  230.009995
2021-12-10 09:34:00-05:00  63.310001  63.369999   1267.0  230.467499
...                              ...        ...      ...         ...
2022-01-07 15:55:00-05:00  70.040001  70.040001  16405.0  211.029999
2022-01-07 15:56:00-05:00  70.070000  70.099998  11013.0  210.979996
2022-01-07 15:57:00-05:00  70.105003  70.110001  15118.0  211.175003
2022-01-07 15:58:00-05:00  70.080002  70.120003  13513.0  210.960007
2022-01-07 15:59:00-05:00  70.070000  70.089996  23823.0  211.089996


                                 High         Low        Open   Volume
2021-12-10 09:30:00-05:00  230.154999  229.630005  229.899994  27411.0
2021-12-10 09:31:00-05:00  230.094894  229.279999  230.094894   3900.0
2021-12-10 09:32:00-05:00  229.679993  229.240005  229.464996   3067.0
2021-12-10 09:33:00-05:00  230.009995  230.009995  230.009995    290.0
2021-12-10 09:34:00-05:00  230.467499  230.100006  230.245102    941.0
...                               ...         ...         ...      ...
2022-01-07 15:55:00-05:00  211.350006  211.029999  211.339996  21478.0
2022-01-07 15:56:00-05:00  211.059998  210.919998  211.009995  40363.0
2022-01-07 15:57:00-05:00  211.210007  210.919998  210.979996  29169.0
2022-01-07 15:58:00-05:00  211.300003  210.960007  211.175003  38242.0
2022-01-07 15:59:00-05:00  211.240005  210.779999  210.990005  81165.0

[7785 rows x 2515 columns]

In [9]:
df = df.stack(level=[0]).reset_index(level=[1]).rename(columns={'level_1': 'Ticker'})
df

,Ticker,Close,High,Low,Open,Volume
2021-12-10 09:30:00-05:00,A,154.179993,154.660004,154.080002,154.529999,15164.0
2021-12-10 09:30:00-05:00,AAL,18.120701,18.129999,17.950001,18.070000,1211419.0
2021-12-10 09:30:00-05:00,AAP,235.679993,235.679993,234.839996,235.419998,9931.0
2021-12-10 09:30:00-05:00,AAPL,175.710007,176.029999,175.139999,175.205002,3187219.0
2021-12-10 09:30:00-05:00,ABC,121.750000,122.300003,121.750000,122.300003,18220.0
...,...,...,...,...,...,...
2022-01-07 15:59:00-05:00,YUM,135.369995,135.399994,135.320007,135.389999,28062.0
2022-01-07 15:59:00-05:00,ZBH,128.139999,128.139999,128.009995,128.050003,40792.0
2022-01-07 15:59:00-05:00,ZBRA,530.570007,531.690002,530.570007,531.690002,11133.0
2022-01-07 15:59:00-05:00,ZION,70.080002,70.110001,70.070000,70.089996,23823.0
2022-01-07 15:59:00-05:00,ZTS,211.089996,211.240005,210.779999,210.990005,81165.0

In [10]:
def preprocess(df):
    df['Log_Ret'] = np.log(df['Close']).diff()
    return df

In [11]:
df['Log_Ret'] = df.groupby('Ticker').apply(lambda df: np.log(df['Close']).diff()).swaplevel().sort_index().values

In [12]:
df

,Ticker,Close,High,Low,Open,Volume,Log_Ret
2021-12-10 09:30:00-05:00,A,154.179993,154.660004,154.080002,154.529999,15164.0,NaN
2021-12-10 09:30:00-05:00,AAL,18.120701,18.129999,17.950001,18.070000,1211419.0,NaN
2021-12-10 09:30:00-05:00,AAP,235.679993,235.679993,234.839996,235.419998,9931.0,NaN
2021-12-10 09:30:00-05:00,AAPL,175.710007,176.029999,175.139999,175.205002,3187219.0,NaN
2021-12-10 09:30:00-05:00,ABC,121.750000,122.300003,121.750000,122.300003,18220.0,NaN
...,...,...,...,...,...,...,...
2022-01-07 15:59:00-05:00,YUM,135.369995,135.399994,135.320007,135.389999,28062.0,-0.000148
2022-01-07 15:59:00-05:00,ZBH,128.139999,128.139999,128.009995,128.050003,40792.0,0.000742
2022-01-07 15:59:00-05:00,ZBRA,530.570007,531.690002,530.570007,531.690002,11133.0,-0.002015
2022-01-07 15:59:00-05:00,ZION,70.080002,70.110001,70.070000,70.089996,23823.0,-0.000143
2022-01-07 15:59:00-05:00,ZTS,211.089996,211.240005,210.779999,210.990005,81165.0,0.000616