In [1]:
import pandas as pd
import numpy as np

In [2]:
tickers = pd.read_csv('tickers/s&p.csv')

In [3]:
tickers

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [80]:
data_path = 'data/5m/'

In [81]:
df = pd.read_parquet(data_path + 'data.parquet')
df

                                  A                                      \
                          Adj Close       Close        High         Low
2021-11-09 09:30:00-05:00       NaN         NaN         NaN         NaN
2021-11-10 09:30:00-05:00       NaN         NaN         NaN         NaN
2021-11-10 09:30:00-05:00       NaN  159.554993  159.740005  159.130005
2021-11-10 09:35:00-05:00       NaN  159.440002  159.839996  159.440002
2021-11-10 09:40:00-05:00       NaN  159.089996  159.679993  159.089996
...                             ...         ...         ...         ...
2022-01-07 15:35:00-05:00       NaN  145.839996  145.869995  145.630005
2022-01-07 15:40:00-05:00       NaN  145.710007  145.869995  145.710007
2022-01-07 15:45:00-05:00       NaN  145.899994  145.929993  145.690002
2022-01-07 15:50:00-05:00       NaN  145.410004  145.919998  145.389999
2022-01-07 15:55:00-05:00       NaN  145.141998  145.389999  145.089996

                                                      AAL             \
                                 Open    Volume Adj Close      Close
2021-11-09 09:30:00-05:00         NaN       NaN       NaN        NaN
2021-11-10 09:30:00-05:00         NaN       NaN       NaN        NaN
2021-11-10 09:30:00-05:00  159.210007   25423.0       NaN  21.988001
2021-11-10 09:35:00-05:00  159.839996    3367.0       NaN  21.900000
2021-11-10 09:40:00-05:00  159.440002    5423.0       NaN  21.870001
...                               ...       ...       ...        ...
2022-01-07 15:35:00-05:00  145.675003   33814.0       NaN  19.325001
2022-01-07 15:40:00-05:00  145.839996   28877.0       NaN  19.299900
2022-01-07 15:45:00-05:00  145.710007   37144.0       NaN  19.250000
2022-01-07 15:50:00-05:00  145.919998   57784.0       NaN  19.294001
2022-01-07 15:55:00-05:00  145.389999  189386.0       NaN  19.280001

                                                 ...       ZION             \
                                High        Low  ...       High        Low
2021-11-09 09:30:00-05:00        NaN        NaN  ...        NaN        NaN
2021-11-10 09:30:00-05:00        NaN        NaN  ...        NaN        NaN
2021-11-10 09:30:00-05:00  22.010599  21.700001  ...  65.500000  64.915001
2021-11-10 09:35:00-05:00  22.030001  21.900000  ...  65.500000  65.139999
2021-11-10 09:40:00-05:00  21.940001  21.861799  ...  65.459999  65.400002
...                              ...        ...  ...        ...        ...
2022-01-07 15:35:00-05:00  19.370001  19.315001  ...  69.930000  69.830002
2022-01-07 15:40:00-05:00  19.350000  19.290001  ...  70.059998  69.879997
2022-01-07 15:45:00-05:00  19.309999  19.245001  ...  70.019997  69.879997
2022-01-07 15:50:00-05:00  19.320000  19.241400  ...  70.139999  69.900002
2022-01-07 15:55:00-05:00  19.299999  19.280001  ...  70.160004  70.040001

                                                    ZTS              \
                                Open   Volume Adj Close       Close
2021-11-09 09:30:00-05:00        NaN      NaN       NaN         NaN
2021-11-10 09:30:00-05:00        NaN      NaN       NaN         NaN
2021-11-10 09:30:00-05:00  65.180000  25397.0       NaN  219.899994
2021-11-10 09:35:00-05:00  65.500000  12442.0       NaN  219.649994
2021-11-10 09:40:00-05:00  65.400002   6938.0       NaN  219.149994
...                              ...      ...       ...         ...
2022-01-07 15:35:00-05:00  69.910004  30238.0       NaN  211.699997
2022-01-07 15:40:00-05:00  69.910004  28337.0       NaN  211.570007
2022-01-07 15:45:00-05:00  69.900002  53958.0       NaN  211.559998
2022-01-07 15:50:00-05:00  69.910004  69463.0       NaN  211.289993
2022-01-07 15:55:00-05:00  70.040001  79872.0       NaN  211.089996


                                 High         Low        Open    Volume
2021-11-09 09:30:00-05:00         NaN         NaN         NaN       NaN
2021-11-10 09:30:00-05:00         NaN         NaN         NaN       NaN
2021-11-10 09:30:00-05:00  220.160004  219.039993  219.460007   99380.0
2021-11-10 09:35:00-05:00  220.809998  219.500000  220.009995   36712.0
2021-11-10 09:40:00-05:00  219.779999  219.149994  219.729996   53506.0
...                               ...         ...         ...       ...
2022-01-07 15:35:00-05:00  211.850006  211.615005  211.669998   30692.0
2022-01-07 15:40:00-05:00  211.774994  211.490005  211.710007   19996.0
2022-01-07 15:45:00-05:00  211.850006  211.535294  211.554993   42096.0
2022-01-07 15:50:00-05:00  211.794998  211.240005  211.589996   63209.0
2022-01-07 15:55:00-05:00  211.350006  210.779999  211.339996  210417.0

[3165 rows x 3030 columns]

In [82]:
df.dropna(how='all', inplace=True)
df

                                  A                                      \
                          Adj Close       Close        High         Low
2021-11-10 09:30:00-05:00       NaN  159.554993  159.740005  159.130005
2021-11-10 09:35:00-05:00       NaN  159.440002  159.839996  159.440002
2021-11-10 09:40:00-05:00       NaN  159.089996  159.679993  159.089996
2021-11-10 09:45:00-05:00       NaN  159.089996  159.240005  158.639999
2021-11-10 09:50:00-05:00       NaN  158.759995  159.000000  158.710007
...                             ...         ...         ...         ...
2022-01-07 15:35:00-05:00       NaN  145.839996  145.869995  145.630005
2022-01-07 15:40:00-05:00       NaN  145.710007  145.869995  145.710007
2022-01-07 15:45:00-05:00       NaN  145.899994  145.929993  145.690002
2022-01-07 15:50:00-05:00       NaN  145.410004  145.919998  145.389999
2022-01-07 15:55:00-05:00       NaN  145.141998  145.389999  145.089996

                                                      AAL             \
                                 Open    Volume Adj Close      Close
2021-11-10 09:30:00-05:00  159.210007   25423.0       NaN  21.988001
2021-11-10 09:35:00-05:00  159.839996    3367.0       NaN  21.900000
2021-11-10 09:40:00-05:00  159.440002    5423.0       NaN  21.870001
2021-11-10 09:45:00-05:00  158.820007   23995.0       NaN  21.930000
2021-11-10 09:50:00-05:00  159.000000    7628.0       NaN  21.930000
...                               ...       ...       ...        ...
2022-01-07 15:35:00-05:00  145.675003   33814.0       NaN  19.325001
2022-01-07 15:40:00-05:00  145.839996   28877.0       NaN  19.299900
2022-01-07 15:45:00-05:00  145.710007   37144.0       NaN  19.250000
2022-01-07 15:50:00-05:00  145.919998   57784.0       NaN  19.294001
2022-01-07 15:55:00-05:00  145.389999  189386.0       NaN  19.280001

                                                 ...       ZION             \
                                High        Low  ...       High        Low
2021-11-10 09:30:00-05:00  22.010599  21.700001  ...  65.500000  64.915001
2021-11-10 09:35:00-05:00  22.030001  21.900000  ...  65.500000  65.139999
2021-11-10 09:40:00-05:00  21.940001  21.861799  ...  65.459999  65.400002
2021-11-10 09:45:00-05:00  21.940001  21.870001  ...  65.473000  65.209999
2021-11-10 09:50:00-05:00  21.980000  21.895000  ...  65.370003  65.269997
...                              ...        ...  ...        ...        ...
2022-01-07 15:35:00-05:00  19.370001  19.315001  ...  69.930000  69.830002
2022-01-07 15:40:00-05:00  19.350000  19.290001  ...  70.059998  69.879997
2022-01-07 15:45:00-05:00  19.309999  19.245001  ...  70.019997  69.879997
2022-01-07 15:50:00-05:00  19.320000  19.241400  ...  70.139999  69.900002
2022-01-07 15:55:00-05:00  19.299999  19.280001  ...  70.160004  70.040001

                                                     ZTS              \
                                Open    Volume Adj Close       Close
2021-11-10 09:30:00-05:00  65.180000   25397.0       NaN  219.899994
2021-11-10 09:35:00-05:00  65.500000   12442.0       NaN  219.649994
2021-11-10 09:40:00-05:00  65.400002    6938.0       NaN  219.149994
2021-11-10 09:45:00-05:00  65.430000    8245.0       NaN  218.740005
2021-11-10 09:50:00-05:00  65.309998  118672.0       NaN  218.729996
...                              ...       ...       ...         ...
2022-01-07 15:35:00-05:00  69.910004   30238.0       NaN  211.699997
2022-01-07 15:40:00-05:00  69.910004   28337.0       NaN  211.570007
2022-01-07 15:45:00-05:00  69.900002   53958.0       NaN  211.559998
2022-01-07 15:50:00-05:00  69.910004   69463.0       NaN  211.289993
2022-01-07 15:55:00-05:00  70.040001   79872.0       NaN  211.089996


                                 High         Low        Open    Volume
2021-11-10 09:30:00-05:00  220.160004  219.039993  219.460007   99380.0
2021-11-10 09:35:00-05:00  220.809998  219.500000  220.009995   36712.0
2021-11-10 09:40:00-05:00  219.779999  219.149994  219.729996   53506.0
2021-11-10 09:45:00-05:00  219.289993  218.410004  219.050003   67790.0
2021-11-10 09:50:00-05:00  219.119995  218.574997  218.660004   47126.0
...                               ...         ...         ...       ...
2022-01-07 15:35:00-05:00  211.850006  211.615005  211.669998   30692.0
2022-01-07 15:40:00-05:00  211.774994  211.490005  211.710007   19996.0
2022-01-07 15:45:00-05:00  211.850006  211.535294  211.554993   42096.0
2022-01-07 15:50:00-05:00  211.794998  211.240005  211.589996   63209.0
2022-01-07 15:55:00-05:00  211.350006  210.779999  211.339996  210417.0

[3163 rows x 3030 columns]

In [83]:
df.dropna(how='all', inplace=True, axis=1)
df

                                    A                                      \
                                Close        High         Low        Open
2021-11-10 09:30:00-05:00  159.554993  159.740005  159.130005  159.210007
2021-11-10 09:35:00-05:00  159.440002  159.839996  159.440002  159.839996
2021-11-10 09:40:00-05:00  159.089996  159.679993  159.089996  159.440002
2021-11-10 09:45:00-05:00  159.089996  159.240005  158.639999  158.820007
2021-11-10 09:50:00-05:00  158.759995  159.000000  158.710007  159.000000
...                               ...         ...         ...         ...
2022-01-07 15:35:00-05:00  145.839996  145.869995  145.630005  145.675003
2022-01-07 15:40:00-05:00  145.710007  145.869995  145.710007  145.839996
2022-01-07 15:45:00-05:00  145.899994  145.929993  145.690002  145.710007
2022-01-07 15:50:00-05:00  145.410004  145.919998  145.389999  145.919998
2022-01-07 15:55:00-05:00  145.141998  145.389999  145.089996  145.389999

                                           AAL                        \
                             Volume      Close       High        Low
2021-11-10 09:30:00-05:00   25423.0  21.988001  22.010599  21.700001
2021-11-10 09:35:00-05:00    3367.0  21.900000  22.030001  21.900000
2021-11-10 09:40:00-05:00    5423.0  21.870001  21.940001  21.861799
2021-11-10 09:45:00-05:00   23995.0  21.930000  21.940001  21.870001
2021-11-10 09:50:00-05:00    7628.0  21.930000  21.980000  21.895000
...                             ...        ...        ...        ...
2022-01-07 15:35:00-05:00   33814.0  19.325001  19.370001  19.315001
2022-01-07 15:40:00-05:00   28877.0  19.299900  19.350000  19.290001
2022-01-07 15:45:00-05:00   37144.0  19.250000  19.309999  19.245001
2022-01-07 15:50:00-05:00   57784.0  19.294001  19.320000  19.241400
2022-01-07 15:55:00-05:00  189386.0  19.280001  19.299999  19.280001

                                                 ...       ZION             \
                                Open     Volume  ...      Close       High
2021-11-10 09:30:00-05:00  21.830000  1583865.0  ...  65.489998  65.500000
2021-11-10 09:35:00-05:00  22.000000   547656.0  ...  65.209999  65.500000
2021-11-10 09:40:00-05:00  21.920000   343110.0  ...  65.459999  65.459999
2021-11-10 09:45:00-05:00  21.920000   383653.0  ...  65.269997  65.473000
2021-11-10 09:50:00-05:00  21.940001   489831.0  ...  65.290001  65.370003
...                              ...        ...  ...        ...        ...
2022-01-07 15:35:00-05:00  19.360001   231814.0  ...  69.879997  69.930000
2022-01-07 15:40:00-05:00  19.325001   428479.0  ...  69.889999  70.059998
2022-01-07 15:45:00-05:00  19.295000   684102.0  ...  69.889999  70.019997
2022-01-07 15:50:00-05:00  19.250000   843483.0  ...  70.070000  70.139999
2022-01-07 15:55:00-05:00  19.290001   778080.0  ...  70.080002  70.160004

                                                                  ZTS  \
                                 Low       Open    Volume       Close
2021-11-10 09:30:00-05:00  64.915001  65.180000   25397.0  219.899994
2021-11-10 09:35:00-05:00  65.139999  65.500000   12442.0  219.649994
2021-11-10 09:40:00-05:00  65.400002  65.400002    6938.0  219.149994
2021-11-10 09:45:00-05:00  65.209999  65.430000    8245.0  218.740005
2021-11-10 09:50:00-05:00  65.269997  65.309998  118672.0  218.729996
...                              ...        ...       ...         ...
2022-01-07 15:35:00-05:00  69.830002  69.910004   30238.0  211.699997
2022-01-07 15:40:00-05:00  69.879997  69.910004   28337.0  211.570007
2022-01-07 15:45:00-05:00  69.879997  69.900002   53958.0  211.559998
2022-01-07 15:50:00-05:00  69.900002  69.910004   69463.0  211.289993
2022-01-07 15:55:00-05:00  70.040001  70.040001   79872.0  211.089996


                                 High         Low        Open    Volume
2021-11-10 09:30:00-05:00  220.160004  219.039993  219.460007   99380.0
2021-11-10 09:35:00-05:00  220.809998  219.500000  220.009995   36712.0
2021-11-10 09:40:00-05:00  219.779999  219.149994  219.729996   53506.0
2021-11-10 09:45:00-05:00  219.289993  218.410004  219.050003   67790.0
2021-11-10 09:50:00-05:00  219.119995  218.574997  218.660004   47126.0
...                               ...         ...         ...       ...
2022-01-07 15:35:00-05:00  211.850006  211.615005  211.669998   30692.0
2022-01-07 15:40:00-05:00  211.774994  211.490005  211.710007   19996.0
2022-01-07 15:45:00-05:00  211.850006  211.535294  211.554993   42096.0
2022-01-07 15:50:00-05:00  211.794998  211.240005  211.589996   63209.0
2022-01-07 15:55:00-05:00  211.350006  210.779999  211.339996  210417.0

[3163 rows x 2515 columns]

In [84]:
df = df.stack(level=[0]).reset_index(level=[1]).rename(columns={'level_1': 'Ticker'})
df

,Ticker,Close,High,Low,Open,Volume
2021-11-10 09:30:00-05:00,A,159.554993,159.740005,159.130005,159.210007,25423.0
2021-11-10 09:30:00-05:00,AAL,21.988001,22.010599,21.700001,21.830000,1583865.0
2021-11-10 09:30:00-05:00,AAP,233.880005,233.880005,232.470001,233.330002,10171.0
2021-11-10 09:30:00-05:00,AAPL,148.320007,150.130005,148.070007,150.020004,5819670.0
2021-11-10 09:30:00-05:00,ABBV,116.610001,116.639999,115.389999,115.400002,249279.0
...,...,...,...,...,...,...
2022-01-07 15:55:00-05:00,YUM,135.369995,135.500000,135.320007,135.500000,86766.0
2022-01-07 15:55:00-05:00,ZBH,128.139999,128.139999,128.009995,128.035004,148245.0
2022-01-07 15:55:00-05:00,ZBRA,530.570007,531.919983,530.570007,531.849976,37158.0
2022-01-07 15:55:00-05:00,ZION,70.080002,70.160004,70.040001,70.040001,79872.0
2022-01-07 15:55:00-05:00,ZTS,211.089996,211.350006,210.779999,211.339996,210417.0

In [9]:
def preprocess(df):
    df['Log_Ret'] = np.log(df['Close']).diff()
    return df

In [85]:
df['Log_Ret'] = df.groupby('Ticker').apply(lambda df: np.log(df['Close']).diff()).swaplevel().sort_index().values

In [72]:
df

,Ticker,Close,High,Low,Open,Volume,Log_Ret
2021-11-26 09:30:00-05:00,A,156.804993,157.139999,153.289993,153.289993,47323.0,NaN
2021-11-26 09:30:00-05:00,AAL,17.899900,18.170000,17.899900,18.058701,7507808.0,NaN
2021-11-26 09:30:00-05:00,AAP,229.324997,229.419998,229.324997,229.419998,5018.0,NaN
2021-11-26 09:30:00-05:00,AAPL,160.110001,160.139999,159.300003,159.565002,4308824.0,NaN
2021-11-26 09:30:00-05:00,ABBV,117.980003,117.980003,117.610001,117.610001,26926.0,NaN
...,...,...,...,...,...,...,...
2022-01-07 15:58:00-05:00,YUM,135.369995,135.449997,135.320007,135.449997,43025.0,-0.000591
2022-01-07 15:58:00-05:00,ZBH,128.139999,128.139999,128.009995,128.050003,69526.0,0.000703
2022-01-07 15:58:00-05:00,ZBRA,530.570007,531.919983,530.570007,531.494995,21197.0,-0.002109
2022-01-07 15:58:00-05:00,ZION,70.080002,70.120003,70.070000,70.120003,37336.0,-0.000571
2022-01-07 15:58:00-05:00,ZTS,211.089996,211.300003,210.779999,211.175003,119407.0,-0.000403

In [86]:
np.where(df.index.value_counts()>500)

(array([   0,    1,    2, ..., 1614, 1615, 1616]),)