In [1]:
import pandas as pd
import numpy as np

In [2]:
tickers = pd.read_csv('tickers/s&p.csv')

In [3]:
tickers

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [4]:
data_path = 'data/1m/'

In [11]:
df = pd.read_parquet(data_path + 'data.parquet')
df

                                  A                                      \
                          Adj Close       Close        High         Low
2021-12-09 09:30:00-05:00       NaN         NaN         NaN         NaN
2021-12-10 09:30:00-05:00       NaN  154.179993  154.660004  154.080002
2021-12-10 09:31:00-05:00       NaN  154.550003  154.550003  154.169998
2021-12-10 09:32:00-05:00       NaN  154.770004  154.770004  154.529999
2021-12-10 09:33:00-05:00       NaN  155.259995  155.259995  154.889999
...                             ...         ...         ...         ...
2022-01-07 15:55:00-05:00       NaN  145.259995  145.389999  145.229996
2022-01-07 15:56:00-05:00       NaN  145.350006  145.380005  145.240005
2022-01-07 15:57:00-05:00       NaN  145.190002  145.380005  145.190002
2022-01-07 15:58:00-05:00       NaN  145.250000  145.389999  145.190002
2022-01-07 15:59:00-05:00       NaN  145.141998  145.259995  145.089996

                                                     AAL             \
                                 Open   Volume Adj Close      Close
2021-12-09 09:30:00-05:00         NaN      NaN       NaN        NaN
2021-12-10 09:30:00-05:00  154.529999  15164.0       NaN  18.120701
2021-12-10 09:31:00-05:00  154.169998   3266.0       NaN  17.980000
2021-12-10 09:32:00-05:00  154.550003   2122.0       NaN  18.044300
2021-12-10 09:33:00-05:00  154.949997   2913.0       NaN  18.080000
...                               ...      ...       ...        ...
2022-01-07 15:55:00-05:00  145.389999  32239.0       NaN  19.299999
2022-01-07 15:56:00-05:00  145.250000  31182.0       NaN  19.295000
2022-01-07 15:57:00-05:00  145.350006  30255.0       NaN  19.290001
2022-01-07 15:58:00-05:00  145.190002  39810.0       NaN  19.295000
2022-01-07 15:59:00-05:00  145.259995  55900.0       NaN  19.280001

                                                 ...       ZION             \
                                High        Low  ...       High        Low
2021-12-09 09:30:00-05:00        NaN        NaN  ...        NaN        NaN
2021-12-10 09:30:00-05:00  18.129999  17.950001  ...  63.689999  63.270000
2021-12-10 09:31:00-05:00  18.122101  17.969999  ...  63.709999  63.560001
2021-12-10 09:32:00-05:00  18.049999  17.940001  ...  63.599998  63.490002
2021-12-10 09:33:00-05:00  18.129999  18.020000  ...  63.544998  63.450001
...                              ...        ...  ...        ...        ...
2022-01-07 15:55:00-05:00  19.299999  19.280001  ...  70.099998  70.040001
2022-01-07 15:56:00-05:00  19.299999  19.290001  ...  70.129997  70.070000
2022-01-07 15:57:00-05:00  19.299999  19.290001  ...  70.160004  70.105003
2022-01-07 15:58:00-05:00  19.299999  19.290001  ...  70.120003  70.080002
2022-01-07 15:59:00-05:00  19.299999  19.280001  ...  70.110001  70.070000

                                                    ZTS              \
                                Open   Volume Adj Close       Close
2021-12-09 09:30:00-05:00        NaN      NaN       NaN         NaN
2021-12-10 09:30:00-05:00  63.430000      0.0       NaN  230.154999
2021-12-10 09:31:00-05:00  63.709999   2438.0       NaN  229.464996
2021-12-10 09:32:00-05:00  63.599998   1174.0       NaN  229.679993
2021-12-10 09:33:00-05:00  63.544998    917.0       NaN  230.009995
...                              ...      ...       ...         ...
2022-01-07 15:55:00-05:00  70.040001  16405.0       NaN  211.029999
2022-01-07 15:56:00-05:00  70.099998  11013.0       NaN  210.979996
2022-01-07 15:57:00-05:00  70.110001  15118.0       NaN  211.175003
2022-01-07 15:58:00-05:00  70.120003  13513.0       NaN  210.960007
2022-01-07 15:59:00-05:00  70.089996  23823.0       NaN  211.089996


                                 High         Low        Open   Volume
2021-12-09 09:30:00-05:00         NaN         NaN         NaN      NaN
2021-12-10 09:30:00-05:00  230.154999  229.630005  229.899994  27411.0
2021-12-10 09:31:00-05:00  230.094894  229.279999  230.094894   3900.0
2021-12-10 09:32:00-05:00  229.679993  229.240005  229.464996   3067.0
2021-12-10 09:33:00-05:00  230.009995  230.009995  230.009995    290.0
...                               ...         ...         ...      ...
2022-01-07 15:55:00-05:00  211.350006  211.029999  211.339996  21478.0
2022-01-07 15:56:00-05:00  211.059998  210.919998  211.009995  40363.0
2022-01-07 15:57:00-05:00  211.210007  210.919998  210.979996  29169.0
2022-01-07 15:58:00-05:00  211.300003  210.960007  211.175003  38242.0
2022-01-07 15:59:00-05:00  211.240005  210.779999  210.990005  81165.0

[7786 rows x 3030 columns]

In [12]:
df.columns = df.columns.swaplevel()

In [13]:
df

,Adj Close,Close,High,Low,Open,Volume,Adj Close,Close,High,Low,...,High,Low,Open,Volume,Adj Close,Close,High,Low,Open,Volume
,A,A,A,A,A,A,AAL,AAL,AAL,AAL,...,ZION,ZION,ZION,ZION,ZTS,ZTS,ZTS,ZTS,ZTS,ZTS
2021-12-09 09:30:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-10 09:30:00-05:00,NaN,154.179993,154.660004,154.080002,154.529999,15164.0,NaN,18.120701,18.129999,17.950001,...,63.689999,63.270000,63.430000,0.0,NaN,230.154999,230.154999,229.630005,229.899994,27411.0
2021-12-10 09:31:00-05:00,NaN,154.550003,154.550003,154.169998,154.169998,3266.0,NaN,17.980000,18.122101,17.969999,...,63.709999,63.560001,63.709999,2438.0,NaN,229.464996,230.094894,229.279999,230.094894,3900.0
2021-12-10 09:32:00-05:00,NaN,154.770004,154.770004,154.529999,154.550003,2122.0,NaN,18.044300,18.049999,17.940001,...,63.599998,63.490002,63.599998,1174.0,NaN,229.679993,229.679993,229.240005,229.464996,3067.0
2021-12-10 09:33:00-05:00,NaN,155.259995,155.259995,154.889999,154.949997,2913.0,NaN,18.080000,18.129999,18.020000,...,63.544998,63.450001,63.544998,917.0,NaN,230.009995,230.009995,230.009995,230.009995,290.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:55:00-05:00,NaN,145.259995,145.389999,145.229996,145.389999,32239.0,NaN,19.299999,19.299999,19.280001,...,70.099998,70.040001,70.040001,16405.0,NaN,211.029999,211.350006,211.029999,211.339996,21478.0
2022-01-07 15:56:00-05:00,NaN,145.350006,145.380005,145.240005,145.250000,31182.0,NaN,19.295000,19.299999,19.290001,...,70.129997,70.070000,70.099998,11013.0,NaN,210.979996,211.059998,210.919998,211.009995,40363.0
2022-01-07 15:57:00-05:00,NaN,145.190002,145.380005,145.190002,145.350006,30255.0,NaN,19.290001,19.299999,19.290001,...,70.160004,70.105003,70.110001,15118.0,NaN,211.175003,211.210007,210.919998,210.979996,29169.0
2022-01-07 15:58:00-05:00,NaN,145.250000,145.389999,145.190002,145.190002,39810.0,NaN,19.295000,19.299999,19.290001,...,70.120003,70.080002,70.120003,13513.0,NaN,210.960007,211.300003,210.960007,211.175003,38242.0
2022-01-07 15:59:00-05:00,NaN,145.141998,145.259995,145.089996,145.259995,55900.0,NaN,19.280001,19.299999,19.280001,...,70.110001,70.070000,70.089996,23823.0,NaN,211.089996,211.240005,210.779999,210.990005,81165.0

In [14]:
df = df['Close'].copy()
df.ffill(inplace=True)

In [15]:
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2021-12-09 09:30:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-10 09:30:00-05:00,154.179993,18.120701,235.679993,175.710007,NaN,121.750000,313.779999,NaN,374.640015,640.320007,...,67.010002,218.740005,63.240002,53.230000,123.559998,133.335999,126.294998,602.000000,63.619999,230.154999
2021-12-10 09:31:00-05:00,154.550003,17.980000,235.679993,175.886002,123.750000,122.050003,312.559998,133.339996,375.450012,641.549988,...,66.660004,219.649994,63.150002,53.230000,123.279999,133.589996,126.150002,602.000000,63.570000,229.464996
2021-12-10 09:32:00-05:00,154.770004,18.044300,235.679993,175.729996,123.739998,122.300003,312.799988,133.039993,375.609985,639.799988,...,66.820000,219.863907,62.959999,53.185001,123.279999,133.820007,126.410004,602.000000,63.580002,229.679993
2021-12-10 09:33:00-05:00,155.259995,18.080000,236.460007,175.615005,124.489998,122.300003,314.070007,133.080002,376.130005,641.380005,...,66.970001,219.309998,62.930000,53.185001,122.985001,134.070007,126.550003,602.000000,63.450001,230.009995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:55:00-05:00,145.259995,19.299999,237.639999,172.410004,135.020004,132.960007,320.029999,135.699997,370.309998,511.010010,...,69.154999,193.289993,68.915001,56.334999,115.309998,135.460007,128.080002,531.668274,70.099998,211.029999
2022-01-07 15:56:00-05:00,145.350006,19.295000,237.660004,172.529999,135.044998,132.994995,319.839996,135.725006,370.410004,511.359985,...,69.180000,193.572601,68.908997,56.365002,115.339996,135.479996,128.050003,531.580017,70.120003,210.979996
2022-01-07 15:57:00-05:00,145.190002,19.290001,237.619995,172.460007,135.035004,133.009995,319.559998,135.755005,370.160004,511.369995,...,69.169998,193.809998,68.930000,56.365002,115.320000,135.449997,128.050003,531.690002,70.120003,211.175003
2022-01-07 15:58:00-05:00,145.250000,19.295000,237.710007,172.350006,134.979996,133.020004,319.470001,135.710007,370.265015,511.250000,...,69.144997,193.289993,68.904999,56.395000,115.300003,135.389999,128.044998,531.640015,70.089996,210.960007
2022-01-07 15:59:00-05:00,145.141998,19.280001,238.089996,172.250000,134.889999,133.119995,319.149994,135.539993,370.750000,510.690002,...,69.099998,193.059998,68.879997,56.410000,115.389999,135.369995,128.139999,530.570007,70.080002,211.089996

In [16]:
df.dropna(how='all', inplace=True)
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2021-12-10 09:30:00-05:00,154.179993,18.120701,235.679993,175.710007,NaN,121.750000,313.779999,NaN,374.640015,640.320007,...,67.010002,218.740005,63.240002,53.230000,123.559998,133.335999,126.294998,602.000000,63.619999,230.154999
2021-12-10 09:31:00-05:00,154.550003,17.980000,235.679993,175.886002,123.750000,122.050003,312.559998,133.339996,375.450012,641.549988,...,66.660004,219.649994,63.150002,53.230000,123.279999,133.589996,126.150002,602.000000,63.570000,229.464996
2021-12-10 09:32:00-05:00,154.770004,18.044300,235.679993,175.729996,123.739998,122.300003,312.799988,133.039993,375.609985,639.799988,...,66.820000,219.863907,62.959999,53.185001,123.279999,133.820007,126.410004,602.000000,63.580002,229.679993
2021-12-10 09:33:00-05:00,155.259995,18.080000,236.460007,175.615005,124.489998,122.300003,314.070007,133.080002,376.130005,641.380005,...,66.970001,219.309998,62.930000,53.185001,122.985001,134.070007,126.550003,602.000000,63.450001,230.009995
2021-12-10 09:34:00-05:00,155.054993,18.006500,235.320007,176.050003,124.360001,121.989998,314.225006,133.289993,375.434998,641.640015,...,66.940002,220.009995,62.950001,53.220001,122.790001,133.789993,126.230003,602.000000,63.389999,230.467499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:55:00-05:00,145.259995,19.299999,237.639999,172.410004,135.020004,132.960007,320.029999,135.699997,370.309998,511.010010,...,69.154999,193.289993,68.915001,56.334999,115.309998,135.460007,128.080002,531.668274,70.099998,211.029999
2022-01-07 15:56:00-05:00,145.350006,19.295000,237.660004,172.529999,135.044998,132.994995,319.839996,135.725006,370.410004,511.359985,...,69.180000,193.572601,68.908997,56.365002,115.339996,135.479996,128.050003,531.580017,70.120003,210.979996
2022-01-07 15:57:00-05:00,145.190002,19.290001,237.619995,172.460007,135.035004,133.009995,319.559998,135.755005,370.160004,511.369995,...,69.169998,193.809998,68.930000,56.365002,115.320000,135.449997,128.050003,531.690002,70.120003,211.175003
2022-01-07 15:58:00-05:00,145.250000,19.295000,237.710007,172.350006,134.979996,133.020004,319.470001,135.710007,370.265015,511.250000,...,69.144997,193.289993,68.904999,56.395000,115.300003,135.389999,128.044998,531.640015,70.089996,210.960007
2022-01-07 15:59:00-05:00,145.141998,19.280001,238.089996,172.250000,134.889999,133.119995,319.149994,135.539993,370.750000,510.690002,...,69.099998,193.059998,68.879997,56.410000,115.389999,135.369995,128.139999,530.570007,70.080002,211.089996

In [17]:
df.bfill(inplace=True)
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2021-12-10 09:30:00-05:00,154.179993,18.120701,235.679993,175.710007,123.750000,121.750000,313.779999,133.339996,374.640015,640.320007,...,67.010002,218.740005,63.240002,53.230000,123.559998,133.335999,126.294998,602.000000,63.619999,230.154999
2021-12-10 09:31:00-05:00,154.550003,17.980000,235.679993,175.886002,123.750000,122.050003,312.559998,133.339996,375.450012,641.549988,...,66.660004,219.649994,63.150002,53.230000,123.279999,133.589996,126.150002,602.000000,63.570000,229.464996
2021-12-10 09:32:00-05:00,154.770004,18.044300,235.679993,175.729996,123.739998,122.300003,312.799988,133.039993,375.609985,639.799988,...,66.820000,219.863907,62.959999,53.185001,123.279999,133.820007,126.410004,602.000000,63.580002,229.679993
2021-12-10 09:33:00-05:00,155.259995,18.080000,236.460007,175.615005,124.489998,122.300003,314.070007,133.080002,376.130005,641.380005,...,66.970001,219.309998,62.930000,53.185001,122.985001,134.070007,126.550003,602.000000,63.450001,230.009995
2021-12-10 09:34:00-05:00,155.054993,18.006500,235.320007,176.050003,124.360001,121.989998,314.225006,133.289993,375.434998,641.640015,...,66.940002,220.009995,62.950001,53.220001,122.790001,133.789993,126.230003,602.000000,63.389999,230.467499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:55:00-05:00,145.259995,19.299999,237.639999,172.410004,135.020004,132.960007,320.029999,135.699997,370.309998,511.010010,...,69.154999,193.289993,68.915001,56.334999,115.309998,135.460007,128.080002,531.668274,70.099998,211.029999
2022-01-07 15:56:00-05:00,145.350006,19.295000,237.660004,172.529999,135.044998,132.994995,319.839996,135.725006,370.410004,511.359985,...,69.180000,193.572601,68.908997,56.365002,115.339996,135.479996,128.050003,531.580017,70.120003,210.979996
2022-01-07 15:57:00-05:00,145.190002,19.290001,237.619995,172.460007,135.035004,133.009995,319.559998,135.755005,370.160004,511.369995,...,69.169998,193.809998,68.930000,56.365002,115.320000,135.449997,128.050003,531.690002,70.120003,211.175003
2022-01-07 15:58:00-05:00,145.250000,19.295000,237.710007,172.350006,134.979996,133.020004,319.470001,135.710007,370.265015,511.250000,...,69.144997,193.289993,68.904999,56.395000,115.300003,135.389999,128.044998,531.640015,70.089996,210.960007
2022-01-07 15:59:00-05:00,145.141998,19.280001,238.089996,172.250000,134.889999,133.119995,319.149994,135.539993,370.750000,510.690002,...,69.099998,193.059998,68.879997,56.410000,115.389999,135.369995,128.139999,530.570007,70.080002,211.089996

In [18]:
#Export df with close price for introduction

from os.path import exists
import os
from fastparquet import write, ParquetFile

df.to_parquet("data/clean/1m/data_clean_1m_close.parquet")

In [45]:
df = np.log(df).diff().dropna(how='all')
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2021-12-10 09:31:00-05:00,0.002397,-0.007795,0.000000,0.001001,0.000000,0.002461,-0.003896,0.000000,0.002160,0.001919,...,-0.005237,0.004152,-0.001424,0.000000,-0.002269,0.001903,-0.001149,0.000000,-0.000786,-0.003002
2021-12-10 09:32:00-05:00,0.001422,0.003570,0.000000,-0.000887,-0.000081,0.002046,0.000768,-0.002252,0.000426,-0.002731,...,0.002397,0.000973,-0.003013,-0.000846,0.000000,0.001720,0.002059,0.000000,0.000157,0.000937
2021-12-10 09:33:00-05:00,0.003161,0.001977,0.003304,-0.000655,0.006043,0.000000,0.004052,0.000301,0.001384,0.002467,...,0.002242,-0.002523,-0.000477,0.000000,-0.002396,0.001866,0.001107,0.000000,-0.002047,0.001436
2021-12-10 09:34:00-05:00,-0.001321,-0.004074,-0.004833,0.002474,-0.001045,-0.002538,0.000493,0.001577,-0.001849,0.000405,...,-0.000448,0.003187,0.000318,0.000658,-0.001587,-0.002091,-0.002532,0.000000,-0.000946,0.001987
2021-12-10 09:35:00-05:00,-0.000677,-0.002051,0.000149,-0.002332,-0.001126,0.002661,-0.001051,0.000136,-0.001693,-0.000023,...,0.001940,-0.006429,0.000159,0.004125,0.000000,0.000523,0.000673,0.000000,0.000473,-0.000770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07 15:55:00-05:00,-0.001032,0.000311,-0.000799,0.000870,0.000222,-0.000338,0.001188,-0.000074,-0.001468,0.000000,...,0.000000,0.002901,0.000884,0.000444,-0.001040,-0.000295,0.000508,-0.000455,0.000428,-0.001231
2022-01-07 15:56:00-05:00,0.000619,-0.000259,0.000084,0.000696,0.000185,0.000263,-0.000594,0.000184,0.000270,0.000685,...,0.000361,0.001461,-0.000087,0.000532,0.000260,0.000148,-0.000234,-0.000166,0.000285,-0.000237
2022-01-07 15:57:00-05:00,-0.001101,-0.000259,-0.000168,-0.000406,-0.000074,0.000113,-0.000876,0.000221,-0.000675,0.000020,...,-0.000145,0.001226,0.000305,0.000000,-0.000173,-0.000221,0.000000,0.000207,0.000000,0.000924
2022-01-07 15:58:00-05:00,0.000413,0.000259,0.000379,-0.000638,-0.000407,0.000075,-0.000282,-0.000332,0.000284,-0.000235,...,-0.000362,-0.002687,-0.000363,0.000532,-0.000173,-0.000443,-0.000039,-0.000094,-0.000428,-0.001019
2022-01-07 15:59:00-05:00,-0.000744,-0.000778,0.001597,-0.000580,-0.000667,0.000751,-0.001002,-0.001254,0.001309,-0.001096,...,-0.000651,-0.001191,-0.000363,0.000266,0.000780,-0.000148,0.000742,-0.002015,-0.000143,0.000616

In [46]:
#Export cleaned dataframe

from os.path import exists
import os
from fastparquet import write, ParquetFile

df.to_parquet("data/clean/1m/data_clean_1m.parquet")